@import '../../assets/baseStyles.scss';

.panelContainer {
  display: flex;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  background-color: $secondary-bg-color;
  background-repeat: no-repeat;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 84px;
  height: 100%;
  @include for-size(tablet) {
    width: 100vw;
    min-height: 350px;
    padding-top: 90px;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../assets/pictures/diary-leaves-tablet@2x.png');
      background-position: bottom 0 right 0;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 1),
      only screen and (min-device-pixel-ratio: 1) {
      background-image: url('../../assets/pictures/diary-leaves-tablet.png');
      background-position: bottom 0 right 0;
    }
  }
  @include for-size(desktop) {
    flex-direction: column;
    position: relative;
    width: 41.8vw;
    background-color: $secondary-bg-color;
    height: 100vh;
    min-height: 850px;
    padding-top: 292px;

    background-repeat: no-repeat;
    background-position: top 0 right 0;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {
      background-image: url('../../assets/pictures/diary-leaves-desktop@2x.png');
      background-position: top 0right 0;
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 1),
      only screen and (min-device-pixel-ratio: 1) {
      background-image: url('../../assets/pictures/diary-leaves-desktop.png');
      background-position: top 0 right 0;
    }
  }
}

.panelContainerInner {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  @include for-size(tablet) {
    flex-direction: row;
  }
  @include for-size(desktop) {
    flex-direction: column;
  }
}

.userWrapper {
  display: none;
  @include for-size(tablet) {
    display: none;
  }
  @include for-size(desktop) {
    position: static;
    margin-top: 123px;
    margin-right: 115px;
    color: $secondary-text-color;
    text-transform: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #eff1f3;
  }
}

.logout {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: $primary-letter-spacing;
  transition: $cubic;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  &:hover {
    color: $primary-text-color;
  }
}

.userName {
  display: block;
  color: $primary-text-color;
  margin-right: 15px;
  border-right: 2px solid $light-gray;
  padding-right: 15px;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  text-transform: capitalize;
  transition: $cubic;
  min-height: 32px;
  &:hover {
    color: $secondary-text-color;
  }
}

.informationListBlock {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  min-width: 290px;
  @include for-size(tablet) {
    max-width: 250px;
    width: 250px;
  }
  @include for-size(desktop) {
    flex-direction: column;
    margin-top: 0;
    max-width: 330px;
    margin-bottom: 0px;
  }
}
.informationListTitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: $primary-text-color;
  @include for-size(tablet) {
    flex-direction: row;
  }
  @include for-size(desktop) {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.list {
  list-style-type: none;
  min-width: 270px;
  padding-left: 0;
  margin: 0;
}
.listItem {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 17px;
  }
  font-weight: 400;
  color: $secondary-text-color;
  @include for-size(tablet) {
  }
  @include for-size(desktop) {
    font-weight: normal;
  }
}
.listItemValue {
  display: inline-block;
  padding-left: auto;
  font-weight: 400;
  text-align: right;
  color: $secondary-text-color;
  @include for-size(tablet) {
    padding: 0;
  }
  @include for-size(desktop) {
    font-weight: normal;
  }
}
.listItemValueRed {
  display: inline-block;
  color: 'red';
  padding-left: auto;
  font-weight: 400;
  margin-top: 17px;
  @include for-size(tablet) {
    padding: 0;
  }
  @include for-size(desktop) {
    font-weight: normal;
  }
}

.productsBlock {
  max-width: 290px;
  margin: 0;
  @include for-size(tablet) {
    max-width: 260px;
    width: 260px;
    // margin-top: 90px;
    margin-right: auto;
    margin-left: 30px;
    margin-bottom: auto;
    padding: 0;
  }
  @include for-size(desktop) {
    margin-top: 60px;
    max-width: 330px;
    margin-left: 0;
    margin-right: 0;
  }
}
.productsTitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: $primary-text-color;
  @include for-size(tablet) {
    margin-top: 0;
  }
  @include for-size(desktop) {
    margin-bottom: 40px;
    margin-top: 0;
  }
}
.products {
  display: block;
  min-width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0.04em;
  color: $secondary-text-color;
  @include for-size(tablet) {
    display: flex;
    flex-direction: row;
  }
  @include for-size(desktop) {
    // margin-bottom: 42px;
    min-width: 280px;
  }
}
.contentBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  @include for-size(tablet) {
    flex-direction: row;
    padding: 0;
    margin-right: 30px;
    align-items: start;
  }
  @include for-size(desktop) {
    padding: 0;
    flex-direction: column;
    margin-right: 0;
  }
}
.mainContainerForRightBar {
  position: fixed;
  bottom: 0;
  @include for-size(tablet) {
    position: fixed;
    bottom: 0;
  }
  @include for-size(desktop) {
    position: fixed;
    right: 0;
  }
}
