@import '../../assets/baseStyles.scss';

.background {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  transition: 250ms cubic-bezier(linear);
  @include for-size(tablet) {
    min-height: 100vh;
    background-image: url('../../assets/pictures/shapeGrayAuthTablet.svg');
    background-position: bottom 0px right 0px;
    background-repeat: no-repeat;
    background-size: 70% auto;
  }
  @include for-size(desktop) {
    min-height: 100vh;
    background-image: url('../../assets/pictures/shapeGrayAuth.svg');
    background-position: bottom -7px right -220px;
    background-repeat: no-repeat;
    background-size: 62% auto;
  }
}

.strawberry {
  display: none;
  transition: 250ms cubic-bezier(linear);
  @include for-size(tablet) {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 100px;
  }
  @include for-size(desktop) {
    display: block;
    position: absolute;
    right: 70px;
    top: 567px;
  }
}

.banana {
  display: none;
  transition: 250ms cubic-bezier(linear);
  @include for-size(tablet) {
    display: block;
    position: absolute;
    right: -237px;
    bottom: -185px;
    pointer-events: none;
  }
  @include for-size(desktop) {
    display: block;
    position: absolute;
    right: -197px;
    bottom: 580px;
    pointer-events: none;
  }
}

.leaves {
  display: none;
  transition: 250ms cubic-bezier(linear);
  @include for-size(tablet) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 250px;
    pointer-events: none;
  }
  @include for-size(desktop) {
    display: block;
    position: absolute;
    right: 285px;
    bottom: 170px;
    pointer-events: none;
  }
}
