@import '../../assets/baseStyles.scss';

.listSearchProducts {
  position: absolute;
  top: 280px;
  margin: 0;
  padding: 0;
  width: 386px;
  z-index: 2;

  list-style: none;
  background-color: white;

  @include for-size(desktop-only) {
    top: 240px;
  }
  @include for-size(tablet-only) {
    top: 115px;
    width: 290px;
  }
}
