@import '../../assets/baseStyles.scss';

.listSearchProducts {
  position: absolute;
  top: 400px;
  margin: 0;
  padding: 0;
  width: 386px;

  list-style: none;
  background-color: white;

  @include for-size(desktop-only) {
    top: 355px;
  }
  @include for-size(tablet-only) {
    top: 135px;
    width: 290px;
  }
}
