@import '../../assets/baseStyles.scss';

.background {
  position: relative;
  flex: 0 1 auto;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  top: 0;
  @include for-size(tablet) {
    min-height: 100vh;
    height: 1024px;
    // min-height: calc(100vh - 78px);
    background-image: url('../../assets/pictures/shapeGrayAuthTablet.svg');
    background-position: bottom 0px right 0px;
    background-repeat: no-repeat;
    background-size: 70% auto;
  }

  @include for-size(desktop) {
    min-height: 100vh;
    height: 1024px;

    // min-height: calc(100vh - 131px);
    background-image: url('../../assets/pictures/shapeGrayAuth.svg');
    background-position: bottom -30px right -250px;
    background-repeat: no-repeat;
    background-size: 62% 100%;
  }
}

.strowberry {
  display: none;
  @include for-size(tablet) {
    display: block;
    position: absolute;
    right: -85px;
    bottom: 200px;
    pointer-events: none;
  }
  @include for-size(desktop) {
    right: 45px;
    top: 150px;
  }
}

.banana {
  display: none;
  @include for-size(tablet) {
    display: block;
    position: absolute;
    right: -300px;
    bottom: -100px;
    pointer-events: none;
  }
  @include for-size(desktop) {
    right: -220px;
    bottom: -50px;
  }
}

.leaves {
  display: none;
  @include for-size(tablet) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 250px;
    pointer-events: none;
  }
  @include for-size(desktop) {
    right: 250px;
    bottom: 0px;
  }
}
